{% extends 'Account/layout.html.twig' %}

{% set title ='Мой аккаунт' %}

{% block content %}
    {{ parent() }}
<div>
    <a href="{{ path('_team_page', {'team_id':team.id }) }}">Смотреть публичный профиль</a>

    <ul class="nav nav-pills">
        <li class="nav-item">
            <a class="nav-link active" href="#">Профиль</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ path('_list_closed_games') }}">Сыгранные матчи</a>
        </li>
    </ul>

    <form name="new_user" action="{{ path('_edit_profile')}}" method="post">
        <div class="form-group">
            <label for="form_team_name">Название команды</label>
            <input class="form-control" id="form_team_name" type="text" name="team_name" value="{{ team.title }}" placeholder="ФК Имя команды">
        </div>
        <div class="form-group">
            <label for="form_team_manager">Контактное лицо</label>
            <input class="form-control" id="form_team_manager" type="text" name="manager" value="{{ team.manager }}" placeholder="Имя менеджера команды"/>
        </div>
        <div class="form-group">
            <label for="form_team_phone">Телефон</label>
            <input class="form-control" id="form_team_phone" type="text" name="phone" value="{{ team.phone }}" placeholder="0112223344"/>
        </div>
        <div class="form-group">
            <label for="form_team_city">Выбрать город</label>
            <input class="form-control" id="form_team_city" type="text" name="city" value="{{ team.city }}" placeholder="Название города">
        </div>
        <div class="form-group">
            <label for="form_team_description">О команде</label>
            <textarea class="form-control" id="form_team_description" name="description" placeholder="Список игроков, как часто играете, достижения">{{ team.description }}</textarea>
        </div>
        <div class="form-group">
            <input class="btn btn-primary" type="submit" name="send" value="Сохранить">
        </div>
    </form>
</div>

{% endblock %}